*Makefile.in
*Makefile
src/.deps
src/*.c
src/*.h
src/*.o
src/*.stamp
test/.deps
test/*.c
test/*.h
test/*.o
vapi/*.vapi
vapi/*.deps
*~
build/*.h
build/*.in
*.m4
build/compile
autom4te.cache
config.log
config.status
configure
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
src/xcb-vala-parser
build/compile
build/config.guess
build/config.sub
build/depcomp
build/install-sh
build/ltmain.sh
build/missing
build/stamp-h1

